# =============================================
# Mellyna Education — Environment Variables
# =============================================
# Copy ke .env.local untuk development lokal
# cp .env.example .env.local

# Database
DATABASE_URL="postgresql://mellyna:secret@localhost:5432/mellyna_db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with: openssl rand -base64 32"

# Midtrans (Sandbox)
# Dapatkan dari: https://dashboard.sandbox.midtrans.com
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION="false"
MIDTRANS_SERVER_KEY="SB-Mid-server-xxx"
MIDTRANS_CLIENT_KEY="SB-Mid-client-xxx"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="SB-Mid-client-xxx"

# MinIO (local)
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET="mellyna-media"
MINIO_USE_SSL="false"

# n8n
N8N_WEBHOOK_BASE_URL="http://localhost:5678/webhook"
N8N_WEBHOOK_SECRET="change-this-to-random-secret"

# WhatDesks (WhatsApp HTTP API Gateway)
# For local dev: point to your WhatDesks instance
WHATDESKS_BASE_URL="https://whatdesks.mellyna-education.my.id"
WHATDESKS_EMAIL="your-whatdesks-email@example.com"
WHATDESKS_PASSWORD="your-whatdesks-password"
WHATDESKS_DEVICE_ID="3"
WHATDESKS_DEVICE_UUID="your-device-uuid"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Mellyna Education"
