mellyna-education.my.id {
    request_body {
        max_size 500mb
    }
    reverse_proxy app:3000 {
        transport http {
            read_timeout 10m
            write_timeout 10m
        }
    }
}

n8n.mellyna-education.my.id {
    reverse_proxy n8n:5678
}

whatdesks.mellyna-education.my.id {
    reverse_proxy whatdesks-frontend:80
}

media.mellyna-education.my.id {
    reverse_proxy minio:9000
}

minio.mellyna-education.my.id {
    reverse_proxy minio:9001
}
